<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet">
</head>

<body>





  <main>
    <% try { %>
      <%- include('header') %>
        <% } catch (error) { %>
          <p>Error rendering header: <%= error.message %>
          </p>
          <% } %>

            <div class="slider-container">
              <div class="slider">
                <div class="image">
                  <div>
                    <h1>Welcome To
                      <br>
                      LEO CLUB OF HETAUDA BHUTANDEVI CENTENNIAL
                    </h1>
                    <h1>We are making change</h1>
                    <a href="/join" class="join button">Join</a>
                  </div>
                  <img src="/images/slider1.jpg" alt="Image 1">
                </div>

                <div class="image">
                  <div class="second">
                    <button>See More</button>
                  </div>
                  <img src="/images/slider2.jpg">
                </div>


                <div class="image">
                  <div class="second">
                    <button>See More</button>
                  </div>
                  <img src="/images/slider3.jpg">
                </div>

                <div class="image">
                  <div class="second">
                    <button>See More</button>
                  </div>
                  <img src="/images/slider4.jpg">
                </div>

                <!-- Add more images as needed -->
              </div>
              <!-- <button class="prev" onclick="moveSlider(-1)">Previous</button> -->
              <button class="next" onclick="moveSlider(1)"><i class="ri-arrow-right-wide-line"></i></button>
            </div>



            <div id="about">
              <h2 class="info-title">
                A Leo club is a youth organization affiliated with Lions Clubs International, dedicated to community
                service,
                leadership
                development, and fostering .
              </h2>
              <p class="info">
                a spirit of volunteerism among young people aged 12 to 30. Leo clubs typically
                organize
                various service projects, fundraisers, and social activities to make a positive impact in their
                communities.
              </p>


              <div class="about-container">
                <div class="box">
                  <i class="ri-hand-coin-line"></i>
                  <h1>Make Donation</h1>
                  <h2>Help us by make donation</h2>
                  <p>Raise more money with our custom made solution. Unlimited campai pages pledge giving, monthly
                    giving.</p>
                </div>
                <div class="box">
                  <i class="ri-hand-coin-line"></i>

                  <h1>Make Donation</h1>
                  <h2>Help us by make donation</h2>
                  <p>Raise more money with our custom made solution. Unlimited campai pages pledge giving, monthly
                    giving.</p>
                </div>
                <div class="box">
                  <i class="ri-hand-coin-line"></i>

                  <h1>Make Donation</h1>
                  <h2>Help us by make donation</h2>
                  <p>Raise more money with our custom made solution. Unlimited campai pages pledge giving, monthly
                    giving.</p>
                </div>
              </div>
            </div>


            <div id="recent-activities">
              <h1>Recent Activities</h1>
              <div>
                <p>Your little support can bring smile to the homeless people</p>
                <a href="/activities" class="button">See More</a>
              </div>

              <div class="activities-container">
                <% activities.reverse().slice(0, 3).forEach(activity=> { %>
                  <div class="box" style="position: relative;">
                    <a href="/activities/<%=activity._id%>" class="have-id"></a>
                    <% if (activity.images && activity.images.length> 0) { %>
                      <div class="box-img">
                        <img src="<%= activity.images[0].imageUrl %>" alt="<%= activity.images[0].originalFilename %>">
                        <% } else { %>
                          <img src="/path/to/default/image.jpg" alt="Default Image">
                          <% } %>
                      </div>

                      <div class="info-div">
                        <h3>
                          <%= activity.activitiyTitle %>
                        </h3>
                        <p>
                          <% const words=activity.activityParagraph.split(' ');
                    let truncatedText = '';
                    if (words.length > 17) {
                      truncatedText = words.slice(0, 17).join(' ') + ' ...'; } else if
                            (activity.activityParagraph.length> 130) {
                            truncatedText = activity.activityParagraph.slice(0, 130) + '...';
                            } else {
                            truncatedText = activity.activityParagraph;
                            }
                            %>
                            <%= truncatedText %>
                        </p>
                        <% if (isAuthenticated) { %>
                          <button class="delete-button" data-id="<%= activity._id %>">
                            <i class="ri-delete-bin-fill"></i>
                          </button>
                          <% } %>

                      </div>
                  </div>
                  <% }); %>









              </div>
              <a href="/donate" class="donate button ">Donate</a>
            </div>

            <div id="about-info">
              <div class="about-info-why-us">
                <h1 class="about-us-h1">About Us</h1>

                <div class="about-us-our-mission">
                  <div>
                    <h2>Who We Are?</h2>
                    <p>Huminity is the largest Jewish charity in the UK supporting vulnerable children and their
                      families,
                      children
                      with
                      special educational needs and people with learning disabilities.</p>
                  </div>

                  <div>
                    <h2>Our Mission</h2>
                    <p>Huminity is the largest Jewish charity in the UK supporting vulnerable children and their
                      families,
                      children
                      with
                      special educational needs and people with learning disabilities.</p>
                  </div>
                </div>

                <div class="main-person">
                  <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"
                    alt="">
                  <div>
                    <h3>Jhone Michale</h3>
                    <h4>CEO & Founder of CharityPro</h4>
                  </div>
                  <img class="signature"
                    src="https://a.storyblok.com/f/191576/1200x800/b7ad4902a2/signature_maker_after_.webp" alt="">
                </div>

              </div>
              <div class="why-choose-us">
                <h1 class="why-choose-us-h1">Why Choose Us</h1>
                <div>
                  <div class="box">
                    <h4>
                      <i class="ri-subtract-line active"></i>
                      <i class="ri-add-circle-line"></i>
                      How Can I Make Donation?
                    </h4>
                    <p class="active">Lorem ipsum dolor sit amet, vix an natum labuti eleifd, mel am laoreet menandri.
                      Ei
                      justo
                      complectitur
                      duo. Ei solet tos
                      soletu possit quo. Sea cu justo laudem.</p>
                  </div>
                  <div class="box">
                    <h4>
                      <i class="ri-add-circle-line"></i>
                      <i class="ri-subtract-line"></i>
                      How Can I Make khoya?
                    </h4>
                    <p>Lorem ipsum dolor sit amet, vix an natum labuti eleifd, mel am laoreet menandri. Ei justo
                      complectitur
                      duo. Ei solet tos
                      soletu possit quo. Sea cu justo laudem.</p>
                  </div>
                  <div class="box">
                    <h4>
                      <i class="ri-add-circle-line"></i>
                      <i class="ri-subtract-line"></i>
                      How Can I Make ?
                    </h4>
                    <p>Lorem ipsum dolor sit amet, vix an natum labuti eleifd, mel am laoreet menandri. Ei justo
                      complectitur
                      duo. Ei solet tos
                      soletu possit quo. Sea cu justo laudem.</p>
                  </div>
                </div>


              </div>
            </div>


            <% if (isAuthenticated) { %>
              <form id="activities" action="/admin/postactivities" method="POST" enctype="multipart/form-data">
                <h1>Upload your activities</h1>
                <input type="text" name="activitiyTitle" placeholder="Activity Title">
                <textarea name="activityParagraph" placeholder="Write some paragraph about activities"></textarea>

                <div class="choose-image-and-preview">
                  <label for="photo" class="choose-image">
                    <span>Choose Images</span>
                    <input type="file" name="activitiesPhotos" id="activitiesPhotos" onchange="previewImages(event)"
                      multiple>
                  </label>
                  <input type="submit" class="button">
                </div>
              </form>
              <br>

              <div class="show-all-preview-images" id="previewContainer">
                <!-- Preview images will be appended here -->
              </div>
              <% } %>


                <%- include('footer')%>
  </main>



  <script src="javascripts/script.js"></script>

  <script>
    document.querySelectorAll('.delete-button').forEach(button => {
      button.addEventListener('click', async function () {
        const activityId = this.getAttribute('data-id');
        const confirmation = confirm('Do you want to delete this Activity?');
        if (confirmation) {
          try {
            const response = await fetch(`/activities/${activityId}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json'
              }
            });
            if (response.ok) {
              // Remove the activity div from the DOM
              this.closest('.box').remove();
            } else {
              alert('Failed to delete the activity.');
            }
          } catch (error) {
            console.error('Error:', error);
          }
        }
      });
    });
  </script>


  <script>
    function previewImages(event) {
      const previewContainer = document.getElementById('previewContainer');
      previewContainer.innerHTML = ''; // Clear previous previews

      const files = event.target.files;
      if (files.length > 0) {
        Array.from(files).forEach(file => {
          const reader = new FileReader();
          reader.onload = function (e) {
            const img = document.createElement('img');
            img.src = e.target.result;
            img.classList.add('image-preview-in-join', 'preview');
            img.style.width = '100px'; // Set the desired width
            img.style.height = 'auto'; // Maintain aspect ratio
            img.style.margin = '5px'; // Add margin if needed
            previewContainer.appendChild(img);
          }
          reader.readAsDataURL(file);
        });
      }
    }
  </script>



</body>

</html>