<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <!-- header file -->
    <% try { %>
        <%- include('header') %>
            <% } catch (error) { %>
                <p>Error rendering header: <%= error.message %>
                </p>
                <% } %>


                    <main class="members">
                        <h1>All Our Club Members</h1>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur a, unde
                            quidem obcaecati
                            maxime ducimus
                            autem itaque incidunt commodi labore rem sed mollitia asperiores delectus veniam iure
                            recusandae ullam
                            deserunt molestiae quia minus sapiente expedita dolorum? Id earum dolore voluptatibus eum
                            reprehenderit
                            laboriosam est aperiam minus? Illo vitae eum repudiandae?</p>

                        <div class="members-container">
                            <% users.reverse().forEach(user=> { %>
                                <div class="member-box" style="position: relative;">
                                    <div class="user-img">
                                        <img src="/uploads/<%=user.photo%>" alt="">
                                    </div>
                                    <div>
                                        <h3>
                                            <%=user.fullname%>
                                        </h3>
                                        <p>
                                            <%=user.email%>
                                        </p>
                                        <div>
                                            <%=user.number%> , <%=user.address%>
                                        </div>
                                    </div>

                                    <% if (isAuthenticated) { %>
                                        <button class="delete-button" data-id="<%= user._id %>">
                                            <i class="ri-delete-bin-fill"></i>
                                        </button>
                                        <% } %>
                                </div>
                                <% }); %>





                        </div>
                    </main>


                    <%- include('footer')%>
                        <script src="javascripts/script.js"></script>


                        <script>
                            document.querySelectorAll('.delete-button').forEach(button => {
                                button.addEventListener('click', async function () {
                                    const userId = this.getAttribute('data-id');
                                    const confirmation = confirm('Do you want to delete this Member?');
                                    if (confirmation) {
                                        try {
                                            const response = await fetch(`/member/${userId}`, {
                                                method: 'DELETE',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                }
                                            });
                                            if (response.ok) {
                                                // Remove the activity div from the DOM
                                                this.closest('.member-box').remove();
                                            } else {
                                                alert('Failed to delete the activity.');
                                            }
                                        } catch (error) {
                                            console.error('Error:', error);
                                        }
                                    }
                                });
                            });
                        </script>
</body>

</html>